.select-list {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin: 16px 0;
}

.select-item {
    width: 100%;
}

.ant-select-item-option-content {
    font-size: 12px;}

.command-item {
    display: inline-block;
    font-size: 12px;
    border: 1px solid rgb(145, 213, 255);
    border-radius: 4px;
    padding: 2px 10px;
    max-width: 145px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    margin-right: 5px;
    margin-bottom: 5px;
    white-space: nowrap;
    color: rgb(24, 144, 255);
    background: rgb(230, 247, 255);
}

.ant-drawer-body {
    font-size: 12px;
}
//table
.general-tab .ant-table tr:nth-child(even) {
    .ant-table-cell.ant-table-cell-fix-right.ant-table-cell-fix-right-first{
        background: #e9f0fd 
    }
}
.general-tab .ant-table tr:not(:first-child):nth-child(odd) {
    .ant-table-cell.ant-table-cell-fix-right.ant-table-cell-fix-right-first{
        background: #fff !important
    }
}