.general-notif-container {
    .notif-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .notif-body {
        columns: 2;
        gap: 16px;
    }

    .notif-item {
        -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
          page-break-inside: avoid; /* Firefox */
               break-inside: avoid; /* IE 10+ */
    
        background-color: #fff;
        margin-bottom: 24px;
        padding: 24px;
        width: 100%;
        box-shadow: rgb(0 0 0 / 2%) 0px 2px 0px;
        border-radius: 4px;
        img {
            width: 100%;
            object-fit: cover;
        }

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .ant-dropdown-trigger {
            flex-shrink: 0;
        }
        &-more {
            
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-radius: 50%;
            margin-left: 6px;
            svg {
                font-size: 1.2em;
            width: 100%;
            color: black;
            
            }
            &:hover {
                box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
            }
            
            cursor: pointer;
        }

        &-title {
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            color: rgb(0, 0, 0);
        }

        &-file {
            display: flex;
            margin: 10px 10px 15px 0px;
            .file-title {
                font-weight: bold;
            }
        }
    }
}
ul.ant-dropdown-menu.ant-dropdown-menu-root.ant-dropdown-menu-vertical.ant-dropdown-menu-light {
    padding: 0;
}