//home\
// .ant-layout-header header {}
// 
// .logo {
//     width: 100px;
//     object-fit: cover;
//     display: inline-block;
// 
//     img {
//         width: 100%;
//     }
header.ant-layout-header.header {
  z-index: 1000 !important;
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: url('https://stg.vimc.fafu.com.vn/assets/photos/portal_logo_white.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-dropdown {
  position: absolute;
  right: 65px;
  color: white;

  span {
    margin-right: 20px;
  }
}

.error-login {
  color: red;
}

.ant-row-rtl #components-layout-demo-top-side .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.ant-layout,
.site-layout-background {
  background: #cddaf4 !important;
}

//login
.login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right bottom, rgb(170 202 255 / 80%), rgb(0 0 0 / 80%)), url("https://stg.sso.fafu.com.vn/auth/resources/vpytb/login/keycloak/img/background.jpg");
  background-size: cover;

  .ant-form {
    min-width: 440px;
    background-color: rgba(0, 21, 41, 0.8) !important;
    border-radius: 4px;
    padding: 10px 40px 30px 40px;

    .logo-vimc {
      margin: 30px 0;
      background-size: cover;
      height: 32px;
    }

    .ant-col-8 {
      display: block;
      width: 50px;
    }

    .ant-form-item-label>label {
      color: white;

    }

    .ant-checkbox+span {
      color: white;
    }

    .ant-btn-primary {
      background-color: #2c65ac !important;
      border-radius: 2px;
    }

    .ant-form-item-control-input {
      display: block;
      flex: none;
    }

    .ant-form-item-control-input-content {
      text-align: left;
      flex: none;
      max-width: 100%;
    }

  }

}

.ant-layout-header {
  background-color: #2c65ac !important;
}

// lịch cơ quan
.ant-table-thead>tr>th {
  background: #2c65ac !important;
  color: white !important;
}

//work 
.workschedule-header {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 400;
  margin-bottom: 0.5rem
}

// lịch cơ quan
.ant-table-thead > tr > th {  
  background: #2c65ac !important;
  color: white !important;
}

.ant-breadcrumb {
  color: #2c65ac !important;
}
.ant-breadcrumb li:last-child {
  color: #2c65ac !important;
}

.ant-table {
  font-size: 12px !important;
}
.hire-td td.ant-table-cell {
  display: none;
}

.hire-tr .ant-table-thead {
  display: none;
}
.ant-table-wrapper {
  margin-top: 16px;
}

.no-infor {
  color: rgba(146, 142, 142, 0.8);
  display: inline-block;
  min-width: 70px;
  font-style: italic;
  font-weight: normal;
}
//back button
.back-button {
  transform: translateX(-10px);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 15px;
  display: inline-flex;
  cursor: pointer;
  transition: all 0.3s ease 0s;
   &:hover {
      background: rgb(255, 255, 255);
   }
}
.create-title {
  font-weight: 500;
  font-size: 20px !important;
  line-height: 28px;
  word-break: break-all;
}

