.detail-desc {
    background: rgb(255, 255, 255);
    padding: 1rem;
    width: 100%;
    border-radius: 6px;
    padding: 32px;
    tbody tr:first-child{
        background-color: rgb(245, 246, 248);
        

        td {
            border-bottom: none ;
        }
    }

.detail-icon {
    color: rgb(44, 101, 172);
    margin-right: 4px;
}

.ant-descriptions-row > td {
    border-radius: 12px;
    overflow: hidden;
}

 .ant-descriptions-item-content {
    font-size: 12px !important;
}

.ant-descriptions-item-label {
    font-size: 12px;
    min-width: 200px;
    font-weight: 500;
}


.ant-descriptions-view {
    max-width: 1000px;
    margin: 0 auto;
}

.ant-descriptions-row > td {
    padding: 16px 32px;
    border-bottom: 1px solid #f0f0f0;
}
}

//file
.file-list{
    margin: 0;
    padding: 0;
    list-style: none;

    a {
        margin: 0 5px;
        color: rgb(44, 101, 172);
        &:hover{
            opacity:0.8;
        }
    }

    .anticon.anticon-file-image svg{

    }
    .anticon.anticon-eye svg{
        color: rgb(91, 140, 0);
        cursor: pointer;
    }
}